.AboutComponent__container {
  /* width: 100vw; */
  max-width: 1440px;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.AboutComponent__image_wrapper {
}

.AboutComponent__image {
  width: 100%;
  max-width: 464px;
  height: 464px;
  border-radius: 1000px;
}

.AboutComponent__HeadersWrapper {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.AboutComponent__Header1 {
  width: 600px;
  height: 46px;
  line-height: 46px;
}

.AboutComponent__paragraph-container {
  width: 600px;
  height: 120px;
  display: flex;
}

.AboutComponent__paragraph {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .AboutComponent__container {
    max-width: 768px;
    padding: 0;
  }

  .AboutComponent__HeadersWrapper {
    max-width: 768px;
  }

  .AboutComponent__paragraph-container {
    max-width: 424px;
  }
}

@media (max-width: 425px) {
  .AboutComponent__image {
    width: 272px;
    height: 272px;
  }
  .AboutComponent__Header1 {
    width: 393px;
    height: 45px;
  }
  .AboutComponent__paragraph-container {
    width: 288px;
    height: 240px;
  }
}

@media (max-width: 375px) {
  .AboutComponent__image {
    width: 272px;
    height: 272px;
  }
  .AboutComponent__Header1 {
    width: 343px;
    height: 42px;
  }
  .AboutComponent__paragraph-container {
    width: 288px;
    height: 240px;
  }
}

@media (max-width: 320px) {
  .AboutComponent__image {
    width: 272px;
    height: 272px;
  }

  .AboutComponent__Header1 {
    width: 288px;
    height: 40px;
  }

  .AboutComponent__paragraph-container {
    width: 288px;
    height: 240px;
  }
}
