.AboutComponent__container {
  width: 100vw;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.AboutComponent__image_wrapper {
}

.AboutComponent__image {
  width: 100%;
  max-width: 464px;
  height: 464px;
  border-radius: 1000px;
}

.AboutComponent__HeadersWrapper {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.AboutComponent__Header1 {
  width: 600px;
  height: 46px;
  line-height: 46px;
}

.AboutComponent__paragraph-container {
  width: 600px;
  height: 120px;
  display: flex;
}

.AboutComponent__paragraph {
  display: flex;
  align-items: center;
}
