/* Global Font Access */

@font-face {
  font-family: "Roboto";
  src: url("../vendor/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.content__container {
  background-image: url("../assets/DesktopBackground25.png");
  background-repeat: no-repeat;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  max-width: 100%;
  margin: 0 auto;
  /* padding: 10px; */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content__container--profile {
  background-image: none;
  background-color: #fff;
}

/* * {
  outline: 1px solid red;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (max-width: 1366px) {
  .content__container {
    max-width: 100%;
  }

  .content__container--profile {
    max-width: 100%;
  }
}

@media (max-width: 1280px) {
  .content__container {
    max-width: 100%;
  }

  .content__container--profile {
    max-width: 100%;
  }
}

@media (max-width: 1100px) {
  .content__container {
    max-width: 100%;
    margin: 0 auto;
  }

  .content__container--profile {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .content__container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .content__container--profile {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .content__container {
    width: 100%;
    background-repeat: no-repeat;
    background-color: #f5f6f7;
    /* max-width: 768px; */
    margin: 0 auto;
    background-image: url("../assets/TabletBackground25.png"); /* Accidentally included footer along with background image from figma download make sure you only download the individual image not the other groups added automatically*/
  }
  .content__container--profile {
    background-image: none;
    background-color: #fff;
  }
}

@media (max-width: 560px) {
  .content__container {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../assets/TabletBackground25.png");
    background-color: #f5f6f7;

    /* background-size: clamp(560px, 10vh, 536px); */
    
    /* max-width: 425px; */
    margin: 0 auto;
  }

  .content__container--profile {
    background-image: none;
    background-color: #fff;
  }
}

@media (max-width: 425px) {
  .content__container {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../assets/MobileBackground25.png");
    background-size: contain;

  }

  .content__container--profile {
    background-image: none;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .content__container {
    background-image: url("../assets/MobileBackground25.png");
    background-color: #f5f6f7;
background-size: clamp(375px, 10vh, 536px);   
 width: 100%;
    /* max-width: 375px; */
    margin: 0 auto;
  }

  .content__container--profile {
    background-image: none;
    background-color: #fff;
  }
}

@media (max-width: 320px) {
  .content__container {
    background-image: url("../assets/MobileBackground25.png");
    background-color: #f5f6f7;
    background-size: clamp(320px, 10vh, 536px);
    width: 100%;
    /* max-width: 320px; */
    margin: 0 auto;
  }

  .content__container--profile {
    background-image: none;
    background-color: #fff;
  }
}
