.footer {
  margin: 0;
  height: 176px;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  justify-content: space-between;
  
}

.footer__buttons-container {
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;

}

.footer__github-button {
  background-image: url("../assets/github.svg");
  background-repeat: no-repeat;
}

.footer__facebook-button {
  background-image: url("../assets/fb.svg");
  background-repeat: no-repeat;
}

.footer__github-button,
  .footer__facebook-button {
    
    border: none;
    width: 24px;
    height: 24px;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
  }

.footer__buttons-no-icon {
  display: flex;
  background: none;
  border: none;
  flex-direction: column;
  
  box-sizing: border-box;
  width: 200px;
  height: 74px;

}

.footer__home-button {
  background: none;
  border: none;
  padding: 0;
  width: 49px;
  height: 24px;
  box-sizing: border-box;
  
  

}

.footer__home-button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #1A1B22;
  text-decoration: none;
}

.footer__tripleten-button {
  background: none;
  border: none;
  padding: 0;
  width: 74px;
  height: 24px;
  box-sizing: border-box;
}

.footer__tripleten-button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #1A1B22;
  text-decoration: none;
}

.footer__buttons-with-icon {
  display: inline-flex;
}

.footer__copyright {
  width: 288px ;
  height: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #B6BCBF ;
  margin: 0 auto;
  text-align: center;
}