@font-face {
  font-family: "Roboto";
  src: url("../vendor/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

.footer {
  display: flex;
  height: 80px;
  /* border-bottom: solid 1px #fff; */
  align-items: center;
  justify-content: space-between;
  color: #b6bcbf;
}

.footer__copyright {
  /* margin-left: 104px; */
  font-family: "Roboto", sans-serif;
  width: 433px;
  height: 22px;
  margin: 32px auto 26px 104px;
}

.footer__buttons-container {
  margin-right: 104px;
  display: inline-flex;
}

.footer__home-button {
  width: 49px;
  height: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  background: none;
  border: none;
}

.footer__tripleten-button {
  width: 74px;
  height: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  background: none;
  border: none;
}

/* .footer__home-button,
.footer__tripleten-button {
  background: none;
  border: none;
  padding: 0 20px;
  width: 24px;
  height: 24px;
} */

.footer__facebook-button {
}

.footer__github-button,
.footer__facebook-button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__github-button {
  background-image: url("../assets/github.svg");
  background-repeat: no-repeat;
}

.footer__facebook-button {
  background-image: url("../assets/fb.svg");
  background-repeat: no-repeat;
}

.footer__home-button:hover,
.footer__tripleten-button:hover,
.footer__github-button:hover,
.footer__facebook-button:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer__buttons-no-icon {
  display: flex;
  justify-content: space-between;
  width: 163px;
  height: 24px;
  margin: 30px 40px 26px 0;
}

.footer__buttons-with-icon {
  margin: 28px 0 28px 0;
  height: 24px;
  gap: 16px;
  display: flex;
}

/* @media screen and (min-width: 320px) and (max-width: 475px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
    height: 320px;
  }

  .footer__copyright {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__buttons-container {
    align-items: center;

    width: 100%;
    margin-right: 0;
  }

  .footer__buttons-no-icon {
    flex-direction: column;
    height: 74px;
    width: 200px;
  }

  .footer__buttons-with-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-start;
    gap: 10px;
    width: 50px;
    margin-right: 16px;
  }
} */

@media (max-width: 768px) {
  .footer {
    max-width: 768px;
  }
  .footer__copyright {
    width: 300px;
    height: 22px;
    margin: 24px 113px 24px 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
  }

  .footer__buttons-container {
    margin: 0 40px 0 0;
  }
}
@media (max-width: 425px) {
  .footer__buttons-container {
    height: 74px;
  }
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
    height: 176px;
  }

  .footer__copyright {
    text-align: center;
    margin-bottom: 20px;
    margin-left: unset;
  }

  .footer__buttons-container {
    align-items: center;

    width: 100%;
    margin-right: 0;
  }

  .footer__buttons-no-icon {
    flex-direction: column;
    height: 74px;
    width: 200px;
    justify-content: space-between;
    margin: unset;
  }

  .footer__home-button,
  .footer__tripleten-button {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .footer__buttons-with-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-start;
    gap: 10px;
    width: 50px;
    margin-right: 16px;
  }
}

@media (max-width: 375px) {
  .footer__buttons-container {
    height: 74px;
  }
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
    height: 176px;
  }

  .footer__copyright {
    text-align: center;
    margin-bottom: 20px;
    margin-left: unset;
  }

  .footer__buttons-container {
    align-items: center;

    width: 100%;
    margin-right: 0;
  }

  .footer__buttons-no-icon {
    flex-direction: column;
    height: 74px;
    width: 200px;
    justify-content: space-between;
    margin: unset;
  }

  .footer__home-button,
  .footer__tripleten-button {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .footer__buttons-with-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-start;
    gap: 10px;
    width: 50px;
    margin-right: 16px;
  }
}

@media (max-width: 320px) {
  .footer__buttons-container {
    height: 74px;
  }
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    /* padding: 20px 0; */
    padding: 0;
    flex-wrap: wrap;
    height: 176px;
  }

  .footer__copyright {
    text-align: center;
    margin-bottom: 20px;
    margin-left: unset;
    margin: 0;
  }

  .footer__buttons-container {
    align-items: center;

    width: 100%;
    margin-right: 0;
    margin: 20px 0 0 0;
  }

  .footer__buttons-no-icon {
    flex-direction: column;
    height: 74px;
    width: 200px;
    justify-content: space-between;
    margin: unset;
  }

  .footer__home-button,
  .footer__tripleten-button {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .footer__buttons-with-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 10px;
    width: 150px;
    /* margin-right: 16px; */
    justify-content: flex-end;
    margin: 0 16px 132px 0;
  }

  .footer__github-button,
  .footer__facebook-button {
    width: 24px;
    height: 24px;
  }
}
