@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../vendor/fonts/Roboto/RobotoSlab-VariableFont_wght.ttf");
}


.main {
    box-sizing: border-box;
}

.main__about-section {
    height: 752px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .main__about-section {
        height: auto;
    }
}