.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* padding: 20px; */
  max-width: 1440px;
  width: 100%;
}

.news-cards-wrapper {
  display: flex;
  /* width: 1440px; */
  height: auto;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.news-card__header {
  width: 712px;
  height: 46px;
  margin-left: 104px;
}
