@font-face {
  font-family: "Roboto 900";
  src: url("../vendor/fonts/Roboto/Roboto-Bold.ttf");
}

.modalWithForm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  font-family: "Cabinet Grotesk medium";
  width: 100%;
  height: 100vh;
}

.modalWithForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  max-width: 496px;
}
/* .modalWithForm {
  display: flex;

  align-items: center;
} */
.modalWithForm__content {
  position: relative;
  background-color: white;
  max-width: 496px;
  width: 100%;
  padding: 28px 31px 36px 28px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modalWithForm__close-button {
  position: absolute;
  background-image: url("../assets/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  opacity: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: -30px;
  right: -30px;
}

.modalWithForm__close-button:hover {
  opacity: 50%;
}

.modalWithForm__title {
  align-self: flex-start;
  margin: 0 0 20px 0;
  font-size: 24px;
  font-family: "Roboto 900";
}

.modalWithForm__label {
  width: 358px;
  height: 64px;
  display: flex;
  flex-direction: column;

  max-width: 458px;
  color: #2f71e5;
  /* margin: 22px 156px 0px 36px; */
}

.modalWithForm__input::placeholder {
  color: #000;
  opacity: 20%;
}

.modalWithForm__input {
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 14px;
  color: #000000;
  /* opacity: 20%; */
}

.modalWithForm__SelectText {
  margin: 24px 0 12px 0;
  font-family: "Cabinet Grotesk medium";
}

.modalWithForm__signInButton {
  width: 360px;
  height: 64px;
  border-radius: 100px;
  align-self: center;
  background-color: #e6e8eb;
  border: none;
}

.modalWithForm__signInButton:hover {
  background-color: #2f71e5;
  cursor: pointer;
}

.modalWithForm__signInButtonText {
  color: #fff;
  font-size: 18px;
}

.modalWithForm__signUpTransfer {
  text-decoration: none;
  color: #2f71e5;
}

.modalWithForm__signUpTransfer:hover {
  cursor: pointer;
}
