@font-face {
  font-family: "Roboto";
  src: url("../vendor/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}



.modalWithForm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
}

.modalWithForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  max-width: 496px;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 30px;
}
/* .modalWithForm {
  display: flex;

  align-items: center;
} */
.modalWithForm__content {
  position: relative;
  background-color: white;
  max-width: 496px;
  width: 100%;
  padding: 28px 31px 36px 28px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modalWithForm__close-button {
  position: absolute;
  background-image: url("../assets/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  opacity: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: -30px;
  right: -30px;
}

.modalWithForm__close-button:hover {
  opacity: 50%;
}

.modalWithForm__title {
  align-self: flex-start;
  margin: 0 0 20px 0;
  font-size: 24px;
  font-family: "Roboto 900";
  line-height: 100%;
  letter-spacing: 0;
}

.modalWithForm__label {
  width: 358px;
  height: 64px;
  display: flex;
  flex-direction: column;

  max-width: 458px;
  color: #2f71e5;
  /* margin: 22px 156px 0px 36px; */
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 400;

}

.modalWithForm__input::placeholder {
  color: #000;
  opacity: 20%;
}

.modalWithForm__input {
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #000000;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0%;
}

.modalWithForm__SelectText {
  margin: 24px 0 12px 0;
  font-family: "Cabinet Grotesk medium";
}

.modalWithForm__signInButton {
  width: 360px;
  height: 64px;
  border-radius: 100px;
  align-self: center;
  background-color: #e6e8eb;
  border: none;
}

.modalWithForm__signInButton:hover {
  background-color: #2f71e5;
  cursor: pointer;
}

.modalWithForm__signInButtonText {
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.modalWithForm__signUpTransfer {
  text-decoration: none;
  color: #2f71e5;
}

.modalWithForm__signUpTransfer:hover {
  cursor: pointer;
}


@media screen and (max-width: 325px) {
  .modalWithForm__content {
    width: 100%;
    /* height: calc(100vh - 100px); */


    position: absolute;
    top: 56px;
    bottom: 0px;
    height: auto;
    overflow-y: auto;
    padding: 16px;
    justify-content: flex-start;
  }

  .modalWithForm__title {
    margin:0;
  }

  .modalWithForm__label {
    width: 288px;
    height: 46px;
    margin: 18px 0 30px 0;
  }

  .modalWithForm__signInButton {
    width: 288px;
    height: 46px;
  }
  .modalWithForm__form {
    align-items: unset;
  }

  .modalWithForm__signUpTransfer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .modalWithForm__signInButton {
    width: 288px;
    height: 64px;
  }
  .modalWithForm__signInButtonText {
    margin: 0;
  }

}
@media screen and (max-width: 375px) {
  .modalWithForm__content{
    width: 100%;
    /* height: calc(100vh - 100px); */
    position: absolute;
    top: 56px;
    bottom: 0px;
    height: auto;
    overflow-y: auto;
    justify-content: flex-start;
  }

  .modalWithForm__title {
    margin: 0;
  }
  .modalWithForm__label {
    width: 288px;
    height: 46px;
    margin: 18px 0 30px 0;
  }

  .modalWithForm__signInButton {
    width: 288px;
    height: 46px;
  }
  .modalWithForm__form {
    align-items: unset;
  }

  .modalWithForm__signUpTransfer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .modalWithForm__signInButton {
    width: 288px;
    height: 64px;
  }
  .modalWithForm__signInButtonText {
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .modalWithForm__content{
    width: 100%;
    /* height: calc(100vh - 100px); */
    position: absolute;
    top: 56px;
    bottom: 0px;
    height: auto;
    overflow-y: auto;
    justify-content: flex-start;
  }

  .modalWithForm__title {
    margin:  0;
  }

  .modalWithForm__label {
    width: 288px;
    height: 46px;
    margin: 18px 0 30px 0;
  }

  .modalWithForm__signInButton {
    width: 288px;
    height: 46px;
  }

  .modalWithForm__form {
    align-items: unset;
  }

  .modalWithForm__signUpTransfer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .modalWithForm__signInButton {
    width: 288px;
    height: 64px;
  }
  .modalWithForm__signInButtonText {
    margin: 0;
  }
}