@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../vendor/fonts/Roboto/RobotoSlab-VariableFont_wght.ttf");
}


  
  
  
  .modal-with-form {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
  }
  
  .modal-with-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    max-width: 496px;
    align-self: flex-start;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .modal-with-form__content {
    position: relative;
    background-color: white;
    max-width: 496px;
    width: 100%;
    padding: 28px 31px 36px 28px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .modal-with-form__content--success {
    max-width: 430px;
    position: relative;
    background-color: white;
    height: auto;
    width: 100%;
    padding: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .modal-with-form__close-button {
    position: absolute;
    background-image: url("../assets/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    opacity: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: -30px;
    right: -30px;
    display: block;
  }
  
  .modal-with-form__close-button:hover {
    opacity: 50%;
  }
  
  .modal-with-form__title {
    align-self: flex-start;
    margin: 0 0 20px 0;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    line-height: 100%;
    letter-spacing: 0;
  }
  
  .modal-with-form__title--success-container {
    margin: 0;
    padding: 0;
    max-width: 334px;
    margin: 43px 79px 14px 36px;
  }
  
  .modal-with-form__title--success {
    width:334px ;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: normal;
    /* margin: 43px 79px 14px 36px; */
    padding: 0;
  }
  
  .modal-with-form__label {
    width: 358px;
    height: 64px;
    display: flex;
    flex-direction: column;
  
    max-width: 458px;
    color: #2f71e5;
    /* margin: 22px 156px 0px 36px; */
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: 400;
  
  }
  
  .modal-with-form__input::placeholder {
    color: #000;
    opacity: 20%;
  }
  
  .modal-with-form__input {
    margin-top: 8px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: #000000;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0%;
  }
  
  .modal-with-form__SelectText {
    margin: 24px 0 12px 0;
    font-family: "Cabinet Grotesk medium";
  }
  
  .modal-with-form__signInButton {
    width: 360px;
    height: 64px;
    border-radius: 100px;
    align-self: center;
    background-color: #e6e8eb;
    border: none;
  }
  
  .modal-with-form__signInButton:hover {
    background-color: #2f71e5;
    cursor: pointer;
  }
  
  .modal-with-form__signInButtonText {
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
  }
  
  .modal-with-form__signUpTransfer-container--success {
    align-self: flex-start;
    margin: 0 166px 51px 36px;
  }
  
  .modal-with-form__signUpTransfer {
    text-decoration: none;
    color: #2f71e5;
  }
  
  .modal-with-form__signUpTransfer:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: 425px) {
    .modal-with-form__content--success,
    .modal-with-form__content{
      width: 100%;
      /* height: calc(100vh - 100px); */
      position: absolute;
      top: 56px;
      bottom: 0px;
      height: auto;
      overflow-y: auto;
      justify-content: flex-start;
      padding: 16px;
    }
  
  .modal-with-form__close-button {
    display: none;
  }
  
  
    .modal-with-form__content--success {
      max-width: 100%;
      margin: 0;
    }
  
    .modal-with-form__title--success-container {
      max-width: 334px;
      margin: 0;
      padding: 0;
    }
  
    .modal-with-form__title--success {
      max-width: 334px;
      height: auto;
      font-size: 20px;
    }
  
    .modal-with-form__title {
      margin:  0;
    }
  
    .modal-with-form__label {
      width: 100%;
      height: 46px;
      margin: 18px 0 30px 0;
    }
  
    .modal-with-form__signInButton {
      width: 288px;
      height: 46px;
    }
  
    .modal-with-form__form {
      align-items: unset;
    }
  
    .modal-with-form__signUpTransfer-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  
  .modal-with-form__signUpTransfer-container--success  {
    margin: 0;
  }
  
    .modal-with-form__signInButton {
      width: 288px;
      height: 64px;
    }
    .modal-with-form__signInButtonText {
      margin: 0;
    }
  }
  
  
  
  @media screen and (max-width: 375px) {
    .modal-with-form__content--success,
    .modal-with-form__content{
      width: 100%;
      /* height: calc(100vh - 100px); */
      position: absolute;
      top: 56px;
      bottom: 0px;
      height: auto;
      overflow-y: auto;
      justify-content: flex-start;
      padding: 16px;
    }
    .modal-with-form__content--success {
      max-width: 100%;
     
    }
  
    .modal-with-form__close-button {
      display: none;
    }
  
    .modal-with-form__title--success-container {
      max-width: 334px;
      margin: 0;
      padding: 0;
    }
  
    .modal-with-form__title--success {
      max-width: 334px;
      height: auto;
      font-size: 20px;
    }
  
    .modal-with-form__title {
      margin: 0;
    }
    .modal-with-form__label {
      width: 100%;
      height: 46px;
      margin: 18px 0 30px 0;
    }
  
    .modal-with-form__signInButton {
      width: 288px;
      height: 46px;
    }
    .modal-with-form__form {
      align-items: unset;
    }
  
    .modal-with-form__signUpTransfer-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  
    .modal-with-form__signUpTransfer-container--success  {
      margin: 0;
    }
    .modal-with-form__signInButton {
      width: 288px;
      height: 64px;
    }
    .modal-with-form__signInButtonText {
      margin: 0;
    }
  }
  
  @media screen and (max-width: 325px) {
    .modal-with-form__content--success,
    .modal-with-form__content {
      width: 100%;
      /* height: calc(100vh - 100px); */
  
  
      position: absolute;
      top: 56px;
      bottom: 0px;
      height: auto;
      overflow-y: auto;
      padding: 16px;
      justify-content: flex-start;
    }
  
    .modal-with-form__content--success {
      max-width: 100%;
      
    }
    .modal-with-form__close-button {
      display: none;
    }
  
    .modal-with-form__title--success-container {
      max-width: 300px;
      margin: 0;
      padding: 0;
    }
  
    .modal-with-form__title--success {
      max-width: 300px;
      height: auto;
      font-size: 20px;
    }
  
  
    .modal-with-form__title {
      margin:0;
    }
  
    .modal-with-form__label {
      width: 288px;
      height: 46px;
      margin: 18px 0 30px 0;
    }
  
    .modal-with-form__signInButton {
      width: 288px;
      height: 46px;
    }
    .modal-with-form__form {
      align-items: unset;
    }
  
    .modal-with-form__signUpTransfer-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  
    .modal-with-form__signUpTransfer-container--success  {
      margin: 0;
    }
  
    .modal-with-form__signInButton {
      width: 288px;
      height: 64px;
    }
    .modal-with-form__signInButtonText {
      margin: 0;
    }
  
  }