@font-face {
  font-family: "Roboto";
  src: url("../vendor/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../vendor/fonts/Roboto/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../vendor/fonts/Roboto/SourceSans3-VariableFont_wght.ttf");
}

.news-card {
  width: 400px;
  height: 576px;
  margin: 16px;
  background-color: #fff;

  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.news-card__item {
  position: relative;
}

.news-card__image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  display: block;
  margin: 0;
  position: relative;
}

.news-card__image {
  height: 272px;
  width: 400px;
}

.news-card__bookmark-button--container,
.news-card__delete-button--container {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.news-card__keyword {
  min-width: 80px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-card__keyword-text {
  padding: 0 15px 0 15px;
}

.news-card__bookmark-button--container:hover
  .news-card__bookmark-button:not(.bookmarked) {
  background-image: url("../assets/test1bookmarkhover.svg");
}

.news-card__delete-button--container:hover .news-card__delete-button {
  background-image: url("../assets/UniondeleteIconHover.svg");
}

.news-card__delete-button {
  background-image: url("../assets/UniondeleteIcon.svg");
  width: 18px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.news-card__delete-button:hover {
  background-image: url("../assets/UniondeleteIconHover.svg");
}

.news-card__bookmark-button {
  background-image: url("../assets/BookmarkNormalOuline.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  width: 14px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.news-card__bookmark-button.bookmarked {
  background-image: url("../assets/bookmarkEnabled.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 14px;
  height: 19px;
}

/* .news-card__bookmark-button__hoverState {
  background-image: url("../assets/test1bookmarkhover.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  width: 14px;
  height: 19px;
  border: none;
} */

.news-card__bookmark-button:hover {
  background-image: url("../assets/test1bookmarkhover.svg");

  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer; */
}
.news-card__bookmark-button.bookmarked:hover {
  background-image: url("../assets/bookmarkEnabled.svg");
}
.news-card__details {
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  height: 100%;
}
.news-card__date {
  color: #b6bcbf;
  font-size: 18px;
  width: 149px;
  height: 24px;
  margin: 20px 24px 0 24px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  display: block;
}

.news-card__title {
  width: 352px;
  height: 60px;
  margin: 12px 24px 0 24px;
  font-size: 26px;
  overflow: visible;
  font-family: "Roboto Slab";
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
}

.news-card__description {
  margin: 24px 24px 0 24px;
  color: #1a1b22;
  font-size: 16px;
  height: 110px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
}

.news-card__source {
  margin: 18px 24px 24px 24px;
  color: #b6bcbf;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.news-card__button--tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 24px;
  right: 69px;
  background: white;
  border-radius: 10px;
  width: 182px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.news-card__button--tooltip--text {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.news-card__bookmark-button--container:hover + .news-card__button--tooltip {
  visibility: visible;
  opacity: 1;
}

.news-card__delete-button--container:hover + .news-card__button--tooltip {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .news-card {
    width: 224px;
    height: 420px;
    /* display: flex;
    justify-content: space-between; */
  }
  .news-card__image {
    width: 224px;
    height: 150px;
  }

  .news-card__details {
  }
  .news-card__date {
    width: 147px;
    height: 24px;
    margin: 16px 62px 0 15px;
    display: block;
  }
  .news-card__title {
    width: 192px;
    height: 72px;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 12px 16px 0 16px;
  }
  .news-card__description {
    width: 192px;
    height: 88px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    margin: 10px 16px 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .news-card__source {
    width: 192px;
    height: 20px;
    margin: 12px 16px 16px 16px;
    /* align-self: flex-end; */
  }
}
