@font-face {
  font-family: "Roboto Slab";
  src: url("../vendor/fonts/Roboto/RobotoSlab-VariableFont_wght.ttf");
}

.news-card {
  width: 400px;
  height: 576px;
  margin: 16px;
  background-color: #fff;

  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.news-card__item {
  position: relative;
}

.news-card__image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  display: block;
  margin: 0;
}

.news-card__image {
  height: 272px;
  width: 400px;
}

.news-card__bookmark-button--container {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-card__bookmark-button {
  background-image: url("../assets/BookmarkNormalOuline.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  width: 14px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.news-card__bookmark-button:hover {
  background-image: url("../assets/test1bookmarkhover.svg");

  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer; */
}

.news-card__details {
  padding-top: 20px;
}
.news-card__date {
  color: #b6bcbf;
  font-size: 18px;
  width: 149px;
  height: 24px;
  margin: 20px 24px 0 24px;
}

.news-card__title {
  width: 352px;
  height: 60px;
  margin: 12px 24px 0 24px;
  font-size: 26px;
  overflow: visible;
  font-family: "Roboto Slab";
  font-weight: 400;
}

.news-card__description {
  margin: 24px 24px 24px 24px;
  color: #1a1b22;
  font-size: 16px;
  max-height: 110px;
}

.news-card__source {
  margin: 18px 24px 24px 24px;
  color: #b6bcbf;
}
