@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../vendor/fonts/Roboto/RobotoSlab-VariableFont_wght.ttf");
}

.search-form {
    height: 480px;
}


.search-form__header {
    margin: 30px auto 16px auto;
    width: 285px;
    height: 80px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #fff;
}

.search-form__subtext {
    margin: 0 auto 122px auto;
    width: 288px;
    height: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #fff;
}

.search-form__bar {
    margin: 0 auto;
    width: 288px;
    height: 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.search-form__input {
    width: 288px;
    height: 56px;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;

}

.search-form__button {
    box-sizing: border-box;
    width: 288px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    border-radius: 100px;
    background-color:#2F71E5 ;
    box-shadow: #0E1A3933;
    color: #fff;

}